body {
    background-color: #f8f9fa; /* Light gray background for a subtle look */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#displayQuestion {
    margin-top: 20px;
    font-size: 20px; /* Larger text for visibility */
}
nav {
    position: fixed; /* Fix position to the top of the viewport */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #007bff; /* Bootstrap primary color */
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    z-index: 1000; /* High z-index to keep navbar above other content */
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
}